<!doctype html>
<html>
  <head>
    <title>NekoSamaDuce</title>
    <style>
      .logo {
        -webkit-animation-name: slidein, fade;
        -webkit-animation-duration: 2s;
        -webkit-transform-origin: 40ex 0;
      }

      @-webkit-keyframes slidein {
        0% {margin-left: 100%}
        70% {margin-left: 0%; -webkit-transform: rotateY(0)}
        100% {margin-left: 0%; -webkit-transform: rotateY(360deg)}
      }
    </style>
  </head>
  <body>
    <pre class="logo">
    _   __     __        _____                       ____                
   / | / /__  / /______ / ___/____ _____ ___  ____ _/ __ \__  __________ 
  /  |/ / _ \/ //_/ __ \\__ \/ __ `/ __ `__ \/ __ `/ / / / / / / ___/ _ \
 / /|  /  __/ ,&lt; / /_/ /__/ / /_/ / / / / / / /_/ / /_/ / /_/ / /__/  __/
/_/ |_/\___/_/|_|\____/____/\__,_/_/ /_/ /_/\__,_/_____/\__,_/\___/\___/ 
    </pre>
  </body>
</html>
